body {
}
svg {
  fill: currentColor;
  transition: color 100ms linear;
}
pre {
  font-size: 13px;
  margin: 0;
}
img[alt] {
  font-size: 10px;
}
td,
th {
  vertical-align: middle;
  padding: 0.8rem 0.4rem;
}
.container.container-small {
  max-width: 600px;
}
