:root {
  --sell-color: rgba(247, 30, 50, 0.2);
  --buy-color: rgba(0, 193, 0, 0.2);
}

[data-theme="dark"] {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}
