.table-wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.table.table-hover tbody tr:hover {
  background: var(--bg-secondary-color);
}

.table-show-more {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-grey);
  border-top: 1px solid var(--color-lightGrey);
  &:hover {
    background: var(--bg-secondary-color);
  }
}

.table.table-info {
  width: auto;
  th, td {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
