.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-5 {
  margin-left: 5px;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.d-flex {
  display: flex !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center;
}
.d-inline-block {
  display: inline-block !important;
}
.mono-font {
  font-family: var(--font-family-mono) !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.user-select-none {
  user-select: none !important;
}
.w-100 {
  width: 100% !important;
}
.position-relative {
  position: relative !important;
}
.text-nowrap {
  white-space: nowrap !important;
}


